
{% extends "adminlayout.html" %}

<!-- metaTitle -->
{% block metaTitle %}
Admin home
{% endblock %}




{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            
            <div class="col-md-offset-2 col-md-8">

                <h1>Welcome Admin!</h1>

            <p>....there's nothing else here</p>

            </div>
            <!-- /.col-md-offset-2 /.col-md-8 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
