
<!-- INSERT PAGE HERE eg "Contact Us" -->
{% extends "userlayout.html" %}

<!-- metaDescription -->
{% block metaDescription %}{% endblock %}

<!-- metaKeywords -->
{% block metaKeywords %}{% endblock %}

<!-- metaTitle -->
{% block metaTitle %}{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Row -->
        <div class="row">
            
        {{ user.full_name }}
        <br>
        {% for i in portfolios %}
            {{ i.title }}
            <br>
        {% endfor %}


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
