
<!-- INSERT PAGE HERE eg "About Us" -->
{% extends "userlayout.html" %}


<!-- metaDescription -->
{% block metaDescription %}{% endblock %}


<!-- metaKeywords -->
{% block metaKeywords %}{% endblock %}

<!-- metaTitle -->
{% block metaTitle %}{% endblock %}



{% block body %}
    <!-- Page Content -->
    <div class="container-fluid">

        <!-- Row -->
        <div class="row abouthead">
            <div class="aboutcolorlayer">
            
                <div class="col-md-offset-2 col-md-8">

                    <h1>About Us</h1>
                    <p><strong>Lorem Ipsum Bacon</strong></p>

                </div>
                <!-- /.col-md-offset-2 /.col-md-8 -->

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

    <div class="container">

        <div class="row">

            <div class="col-sm-offset-4 col-sm-4">

                <h1>About Us</h1>
                <p>Lorem Ipsum</p>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
