
{% extends "userlayout.html" %}
{% block body %}
    

<div class="container">
    	<div class="row">
    		<div class="col-xs-12">
    			<h2 style="text-align:center;">Reset Your Password</h2>
    		</div>
    		<div class="col-md-offset-2 col-md-4">
    		<form id="registerForm" class="form form-register" action="{{ url_for('public.resetPassword', token=token) }}" method=post>
                    {{ form.hidden_tag() }}

                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                    <br>
                    {{ form.confirm.label }}
                    {{ form.confirm(class_="form-control") }}
                    <br>
                    {{ form.submit }}

                </form>

            </div>
        </div>
    </div>



{% endblock %}
