
{% extends "emaillayout.html" %}

{% block title %}
Reset Password
{% endblock %}


{% block body %}
<!-- content -->
      <div class="content">
      <table>
        <tr>
          <td>
          	<img src="http://placehold.it/300x50" style="width:300px">
            <p>Hello {{user.full_name }}!</p>
            <p>You requested a password reset.</p>
            <h2>Click below to reset your password</h2>
            

            <!-- button -->
            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; Margin: 0 0 10px; padding: 0;"><tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
            <td style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; text-align: center; vertical-align: top; background: #348eda; margin: 0; padding: 0;" align="center" bgcolor="#348eda" valign="top">
                  <a href="{{ recover_url }}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 2; color: #ffffff; border-radius: 25px; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; background: #348eda; margin: 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Reset your password</a>
                </td>
              </tr></table>
            <!-- /button -->



            <p>If the button doesn't work you can paste this link into your browser:</p>
            <p><p><a href="{{ recover_url }}">{{ recover_url }}</a></p></p>
      
            <p><p>Best Regards,</p>
                Admin</p>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->

{% endblock %}

